*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: #7b1fa2;
  font-family: Mansalva;
  font-size: 20px;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

nav ul li .nav-nome {
  font-weight: bold;
}

nav ul li .nav-entrar {
  text-align: center;
  width: 130px;
  background-color: #ee6666;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
}

/**HOME*/

.row-home {
  background-color: #7b1fa2;
}

.titulo-home {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 60px;
  color: white;
  font-family: Mansalva;
  letter-spacing: 5px;
}

.botao-home {
  margin-top: 8%;
  text-align: center;
  width: 250px;
  height: 80px;
  background-color: white;
  border-radius: 30px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
  color: #7b1fa2;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.botao-home:hover {
  transform: scale(1);
  color: #7b1fa2;
}
.sombra {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #7b1fa293;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

.sombra-book {
  width: 95px;
  height: 90px;
  border-radius: 100%;
  background-color: #ee6666d2;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

/*Saiba como*/

.titulo-saiba-como {
  font-family: Mansalva;
  font-weight: bold;
  color: #7b1fa2;
}

.caixa-como-funciona {
  box-shadow: 2px 2px 3px 3px rgba(2, 2, 2, 0.25);
  height: 40vh;
}

.row-como-funciona .col h3 {
  font-family: Mansalva;
  font-weight: bold;
  font-size: 23px;
}

.row-como-funciona .col .titulo-como-funciona {
  margin-bottom: 20%;
}

.row-como-funciona .col .titulo-como-funciona-book {
  margin-bottom: 35%;
}

.botao-cadastrar {
  margin-top: 3%;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #ee6666d2;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
  box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
  color: white;
  border: none;
}

/*

  .border-me {
    border: 6px double #F69220 !important;
  }
  
  .border-me2 {
    border: 6px double #EC1E79 !important;
  }
  
  .border-me:hover {
    border: 6px double #EC1E79 !important;
    box-shadow: 0px 0px 30px #2787C8;
  }
  
  .border-me2:hover {
    border: 6px double #F69220 !important;
    box-shadow: 0px 0px 30px #2787C8;
  }
  */
