*, 
*::after,
*::before {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;

}


.menu{
    background-color: #7B1FA2;
    font-family: Mansalva;
    font-size: 20px;
    box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

nav ul li .nav-nome{
    font-weight: bold;
}


nav ul li .nav-entrar {
	text-align: center;
	width: 130px;
	background-color: #EE6666; 
	border-radius:20px;
    font-size: 18px;
    padding: 5px;
	font-weight: bold;
}



/**HOME*/

.row-home{
    background-color: #7B1FA2;
}

.titulo-home{
margin-left: 10% ;
margin-right: 10% ;
font-size: 60px;
color: white;
font-family: Mansalva;
letter-spacing: 5px;

}

.botao-home{
    margin-top: 8%;
	text-align: center;
	width: 270px;
    height: 70px;
	background-color: white; 
	border-radius:30px;
    font-size: 30px;
    padding: 5px;
	font-weight: bold;
    box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
    color: #7B1FA2;

}


.sombra{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #7b1fa293;
    box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

.sombra-book{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #ee6666d2;
    box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
}

/*Saiba como*/

.titulo-saiba-como{
   font-family: Mansalva; 
   font-weight: bold;
   color: #7B1FA2;
}

.caixa-como-funciona{
box-shadow: 2px 2px 3px 3px rgba(2, 2, 2, 0.25);
height: 40vh;
}


.caixa-como-funciona:hover{
background-color: #7b1fa22d;
}

.row-como-funciona .col h3{
    font-family: Mansalva; 
    font-weight: bold;
    font-size: 23px;
}


.row-como-funciona .col .titulo-como-funciona{
  margin-bottom: 20%;
}

.row-como-funciona .col .titulo-como-funciona-book{
    margin-bottom: 35%;
  }

  .botao-cadastrar{
    margin-top: 3%;
	text-align: center;
	width: 200px;
    height: 50px;
	background-color:#ee6666d2; 
	border-radius:10px;
    font-size: 25px;
    padding: 5px;
	font-weight: bold;
    box-shadow: 2px 4px 4px 2px rgba(2, 2, 2, 0.25);
    color: white;  
    border: none;
    
  }
