* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

a.type-button {
    text-align: center;
    width: 13rem;
    background-color: var(--red-light);
    border-radius: 2rem;
    font-size: 1.8rem;
    padding: .5rem;
    font-weight: bold;
    color: white!important;
    cursor: pointer;
    transition: filter .2s;
}

a.type-button:hover {
    filter: brightness(1.2);
}